<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>APP_ID_PREFIX</key>
		<string>$(AppIdentifierPrefix)</string>
		<key>APPLICATION_SUPPORT_FOLDER</key>
		<string>$(APPLICATION_SUPPORT_FOLDER)</string>
		<key>BUNDLE_IDENTIFIER_BASE</key>
		<string>$(BUNDLE_IDENTIFIER_BASE)</string>
		<key>EXTENSION_BUNDLE_NAME</key>
		<string>$(EXTENSION_BUNDLE_NAME)</string>
		<key>HOST_APP_NAME</key>
		<string>$(HOST_APP_NAME)</string>
		<key>LANGUAGE_SERVER_PATH</key>
		<string>$(LANGUAGE_SERVER_PATH)</string>
		<key>NODE_PATH</key>
		<string>$(NODE_PATH)</string>
		<key>SUEnableAutomaticChecks</key>
		<string>YES</string>
		<key>SUScheduledCheckInterval</key>
		<string>3600</string>
		<key>SUEnableJavaScript</key>
		<string>NO</string>
		<key>SUFeedURL</key>
		<string>$(SPARKLE_FEED_URL)</string>
		<key>SUPublicEDKey</key>
		<string>$(SPARKLE_PUBLIC_KEY)</string>
		<key>TEAM_ID_PREFIX</key>
		<string>$(TeamIdentifierPrefix)</string>
		<key>STANDARD_TELEMETRY_CHANNEL_KEY</key>
		<string>$(STANDARD_TELEMETRY_CHANNEL_KEY)</string>
		<key>GITHUB_APP_ID</key>
		<string>$(GITHUB_APP_ID)</string>
	</dict>
</plist>